<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="browser" value="chrome"></parameter>
    <test verbose="2" preserve-order="true" name="C:/Users/ET/Desktop/TestAutomationFramawork">
        <classes>
            <class name="Tests.TestLoginPage">
                <methods>
                    <include name="loginsuccessful"/>
                </methods>

            </class>

            <class name="Tests.TestHomePage">
                <methods>
                    <include name="loginsuccessful"/>
                    <include name="selectItems"/>
                    <include name="openthecart"/>
                </methods>
            </class>

            <class name="Tests.TestCartPage">
                <methods>
                    <include name="loginsuccessful"/>
                    <include name="selectItems"/>
                    <include name="openthecart"/>
                    <include name="openCheckoutPage"/>
                </methods>
            </class>
            <class name="Tests.TestCheckOutPage">
                <methods>
                    <include name="loginsuccessful"/>
                    <include name="selectItems"/>
                    <include name="openthecart"/>
                    <include name="openCheckoutPage"/>
                    <include name="CheckoutSuccessful"/>
                </methods>
            </class>

            <class name="Tests.TestCheckoutOverview">
                <methods>
                    <include name="loginsuccessful"/>
                    <include name="selectItems"/>
                    <include name="openthecart"/>
                    <include name="openCheckoutPage"/>
                    <include name="CheckoutSuccessful"/>
                    <include name="OverviewSuccessful"/>
                </methods>
            </class>

        </classes>
    </test>
</suite>